<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title th:text="${website.title}"></title>
<meta name="keywords" th:content="${website.keywords}" />
<meta name="description" th:content="${website.description}" />
<link rel="shortcut icon" th:href="${website.logo}" type="image/x-icon"/>
<link rel="bookmark" th:href="${website.logo}" type="image/x-icon">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/materialdesignicons.min.css" rel="stylesheet">
<!--标签插件-->
<link rel="stylesheet" href="/js/jquery-tags-input/jquery.tagsinput.min.css">
<link href="/css/style.min.css" rel="stylesheet">
<!-- editor -->
<link rel="stylesheet" href="/js/wangEditor/wangEditor-fullscreen-plugin.css">

<link rel="stylesheet" href="/js/highlightjs/styles/github.css">
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <div id="left-navigation-template">
    	<left-navigation></left-navigation>
    </div>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 示例页面 - 新增文档 </span>
          </div>
          
          <ul class="topbar-right">
			<li class="dropdown dropdown-profile">
				<a href="javascript:void(0)" data-toggle="dropdown">
					<img class="img-avatar img-avatar-48 m-r-10" th:src="${user.avatar}" th:alt="${user.name}" />
					<span th:text="${user.name}"><span class="caret"></span></span>
				</a>
				<admin-top-nav id="admin-top-nav-template"></admin-top-nav>
			</li>
		 </ul>
          
        </div>
      </nav>
      
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="alert alert-success" role="alert" th:if="${result !=null && result.success}" th:text="${result.message}"></div>
      <div class="alert alert-danger" role="alert" th:if="${result !=null && !result.success}" th:text="${result.message}"></div>
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <form action="/admin/create_article.html" method="post" class="row" enctype="multipart/form-data">
                 
                  <div class="form-group col-md-12">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="" placeholder="请输入标题" />
                  </div>
                  
                  <div class="form-group col-md-12">
                    <label for="tags">标签</label>
                     <input class="form-control js-tags-input" type="text" id="example-tags" name="tags" placeholder="请输入标签" value="java">
                  </div>
                  
                  <div class="form-group col-md-12">
                    <label for="seo_description">描述</label>
                    <textarea class="form-control" id="seo_description" name="summary" rows="5" value="" placeholder="描述"></textarea>
                  </div>
                  
                  <div class="form-group col-md-12">
                    <label>标题显示图片</label>
                    <div class="form-controls">
                      
                      <ul class="list-inline clearfix lyear-uploads-pic">
                        <li class="col-xs-4 col-sm-3 col-md-2">
                          <figure>
                            <img src="/images/gallery/15.jpg" alt="图片一" id="upload_image_view">
                          </figure>
                        </li>
                        <li class="col-xs-4 col-sm-3 col-md-2">
                          <input class="" id="upload_image" type="file" name="title-image" title="点击上传" accept="image/jpg,image/jpeg,image/png,image/PNG"/>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                  <div class="form-group col-md-12">
                    <label for="content">内容</label>
                     <div id="editor">
       					 <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
    				</div>
                  </div>
                  <textarea class="hide" name="content"></textarea>
                  
                  <div class="form-group col-md-12">
                    <label for="sort">排序</label>
                    <input type="text" class="form-control" id="sort" name="sort" value="5" />
                  </div>
                  
                  <div class="form-group col-md-12">
                    <label for="status">状态</label>
                    <div class="clearfix">
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="status" value="0"><span>禁用</span>
                      </label>
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="status" value="1" checked><span>启用</span>
                      </label>
                    </div>
                  </div>
                  
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="/js/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/vue/vue-templates.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>

<script type="text/javascript" src="/js/wangEditor/wangEditor.min.js"></script>
<script type="text/javascript" src="/js/wangEditor/wangEditor-fullscreen-plugin.js"></script>

<!-- 初始化编辑器 -->
<script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $("textarea[name='content']").val(html)
        }
        editor.customConfig.uploadImgServer = '/imageUpload'
        editor.customConfig.uploadImgMaxLength = 5
     	// 将图片大小限制为 3M
        editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024
        editor.create()
        E.fullscreen.init('#editor');
        $("textarea[name='content']").val(editor.txt.html())
</script>

<!-- highlight -->
<script type="text/javascript" src="/js/highlightjs/highlight.pack.js"></script>
<script type="text/javascript"> 
	$(function(){
		$('pre code').each(function(i, block) {
	    		hljs.highlightBlock(block);
	  	});
	});
</script>

<!--标签插件-->
<script src="/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>

<script>
$(function() {
    $("#upload_image").change(function(e) {
        var imgBox = e.target;
        uploadImg($('#bcd'), imgBox)
    });

    function uploadImg(element, tag) {
        var file = tag.files[0];
        var imgSrc;
        if (!/image\/\w+/.test(file.type)) {
            alert("看清楚，这个需要图片！");
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function() {
            imgSrc = this.result;
            $("#upload_image_view").attr("src", imgSrc);
        };
    }
})
</script>

</body>
</html>