<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijiahao.blog.dao.LeaveMessageDao">
	<sql id="table_name">
		article
	</sql>
	<sql id="attributes">
	id, visitor_id, name, email, phone, wechat, message,
	create_date
	</sql>
	<sql id="choose">
		<choose>
			<when test="id !=null and id !=''">
				and id = #{id}
			</when>
			<when test="visitor_id !=null and visitor_id !=''">
				and visitor_id = #{visitor_id}
			</when>
			<when test="name !=null and name !=''">
				and name = #{name}
			</when>
			<when test="email !=null and email !=''">
				and email = #{email}
			</when>
			<when test="phone !=null and phone''">
				and phone = #{phone}
			</when>
			<when test="wechat !=null and wechat !=''">
				and wechat = #{wechat}
			</when>
			<when test="message !=null and message !=''">
				and message = #{message}
			</when>
			<when test="create_date !=null and create_date !=''">
				and age = #{age}
			</when>
		</choose>
	</sql>
	
	<select id="get" resultType="com.lijiahao.blog.model.LeaveMessage" parameterType="Integer">
		select
		<include refid="attributes"/>
		from <include refid="table_name"/>
		where 1=1
		and id = #{id}
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete 
		from <include refid="table_name"/> 
		where id = #{id}
	</delete>
	
	<update id="update" keyProperty="id" useGeneratedKeys="true" parameterType="com.lijiahao.blog.model.LeaveMessage">
		update <include refid="table_name"/>
		<set>
			<if test="visitor_id !=null and visitor_id !=''">visitor_id=#{visitor_id},</if>
			<if test="name !=null and name !=''">name=#{name},</if>
			<if test="email !=null and email !=''">email=#{email},</if>
			<if test="phone !=null and phone !=''">phone=#{phone},</if>
			<if test="wechat !=null and wechat !=''">wechat=#{wechat},</if>
			<if test="message !=null and message !=''">message=#{message},</if>
			<if test="create_date !=null and create_date !=''">create_date=#{create_date}</if>
		</set>
		where 1=1
		and id=#{id}
	</update>
	
	<insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="com.lijiahao.blog.model.LeaveMessage">
		insert into <include refid="table_name"/>(<include refid="attributes"/>)
		values(#{id},#{visitor_id},#{name},#{email},#{phone},#{wechat},#{message},#{create_date})
	</insert>
	
	<select id="selectByBean" resultType="com.lijiahao.blog.model.LeaveMessage" parameterType="com.lijiahao.blog.model.LeaveMessage">
		select 
		<include refid="attributes"/>
		from <include refid="table_name"/>
		where 1=1
		<include refid="choose"/>
	</select>
	
	<select id="getList" resultType="com.lijiahao.blog.model.LeaveMessage">
		select
		<include refid="attributes"/>
		from <include refid="table_name"/>
	</select>
</mapper>